<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="../src/scrolligy.css" type="text/css">

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../src/scrolligy.js"></script>
    <script src="../src/scrolligyStep.js"></script>
    <script src="../src/scolligyService.js"></script>
</head>
<body ng-app='scollify-example'>
    <scrolligy current-step="step" steps="steps" global-data="gloablData" id="yo-man"></scrolligy>
    <div id="nav">
        <button ng-click="$root.next()">Next</button>
        <button ng-click="$root.prev()">Prvious</button>
        <ul>
            <li ng-repeat="s in steps | orderBy: 'index' track by s.index">
                <button nclick="alert(s.index)">{{s.index}}</button> - {{s.templateUrl}}
            </li>
        </ul>
    </div>
</body>
</html>

<script>
    angular
        .module('scollify-example', ['scrolligy'])
        .controller('TestCtrl', function ($scope) {
            $scope.server = 'DBDB';
        })
        .run(['$rootScope', '$q', 'Scrolligy', function ($rootScope, $q, Scrolligy) {
            $rootScope.gloablData = {
                name: 'Harry Potter'
            };

            $rootScope.next = function () {
                Scrolligy.get('yo-man').next();
            }

            $rootScope.prev = function () {
                Scrolligy.get('yo-man').previous();
            }

            $rootScope.steps = [
                {
                    templateUrl: './steps/controller.html',
                    index: 0,
                    data: {a: 2},
                    controller: ['$scope', 'Scrolligy',
                        function ($scope, Scrolligy) {
                            var scrolligy;
                            $scope.name = 'Eric';

                            $scope.print = function () {
                                console.log(scrolligy.globalData);
                            }

                            $scope.setScrolligy = function (scrolligyName, data) {
                                scrolligy = Scrolligy.get(scrolligyName);
                            }
                        }]
                },
                {
                    templateUrl: './steps/add-step.html',
                    index: 1,
                    controller: 'TestCtrl'
                }
            ]
        }]);
</script>
<style>
    html,
    body {
        height: 100%;
    }

    .scrolligy {
        float: right;
        width: 85%;
        height: 100%;
    }

    .nav {
        float: left;
        width: 10%;
    }
</style>