<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="../src/scrolligy.css" type="text/css">

    <script src="../libs/angular/angular.js"></script>
    <script src="../src/scrolligy.js"></script>
    <script src="../src/scrolligyStep.js"></script>
    <script src="../src/scolligyService.js"></script>

</head>
<body ng-app='scollify-example'>
    <scrolligy current-step="step" steps="steps" global-data="gloablData" id="myStep"></scrolligy>
    <div id="nav">
        <button ng-click="$root.next()">Next</button>
        <button ng-click="$root.prev()">Prvious</button>
        <ul>
            <li ng-repeat="s in steps | orderBy: 'index' track by s.index">
                <button nclick="alert(s.index)">{{s.index}}</button> - {{s.templateUrl}}
            </li>
        </ul>
    </div>
</body>
</html>

<script>
    angular
        .module('scollify-example', ['scrolligy'])
        .run(['$rootScope', '$q', 'Scrolligy', function ($rootScope, $q, Scrolligy) {
            $rootScope.gloablData = {
                name: 'Harry Potter'
            };

            $rootScope.next = function () {
                Scrolligy.get('myStep').next();
            }

            $rootScope.prev = function () {
                Scrolligy.get('myStep').previous();
            }

            $rootScope.steps = [
                {
                    templateUrl: './steps/static-step.html',
                    index: 0,
                    isValid: function () {
                        return true;
                    }
                },
                {
                    templateUrl: './steps/add-step.html',
                    index: 1,
                    isValid: function () {
                        var deffer = $q.defer();
                        deffer.resolve();

                        return deffer.promise;
                    }
                },
                {
                    templateUrl: './steps/data-step.html',
                    data: [1, 1, 2, 3, 5, 8, 13],
                    index: 2,
                    isValid: function () {
                        var deffer = $q.defer();
                        deffer.reject();

                        return deffer.promise;
                    }
                },
                {
                    templateUrl: './steps/global-data.html',
                    index: 3
                }
            ]
        }]);
</script>
<style>
    html,
    body {
        height: 100%;
    }

    .scrolligy {
        float: right;
        width: 85%;
        height: 100%;
    }

    .nav {
        float: left;
        width: 10%;
    }
</style>