<div class="scrolligy">
    <div ng-if="currentStep > 0" class="step previous-step fade-step">
        <div class="fade"></div>
        <scrolligy-step scrolligy="name"
                        template-url="steps[currentStep-1].templateUrl"
                        step-data="steps[currentStep-1].data"
                        global-data="globalData">
        </scrolligy-step>
    </div>

    <div class="step current-step">
        <div class="fade"></div>
        <scrolligy-step scrolligy="name"
                        controller="steps[currentStep].controller"
                        template-url="steps[currentStep].templateUrl"
                        step-data="steps[currentStep].data"
                        global-data="globalData">
        </scrolligy-step>
    </div>

    <div ng-if="currentStep < (steps.length-1)" class="step next-step fade-step">
        <div class="fade"></div>
        <scrolligy-step scrolligy="name"
                        controller="steps[currentStep+1].controller"
                        template-url="steps[currentStep+1].templateUrl"
                        step-data="steps[currentStep+1].data"
                        global-data="globalData">
        </scrolligy-step>
    </div>
</div>