<div class="scrolligy">
    <div ng-if="currentStep > 0" class="step previous-step fade-step">
        <div class="fade"></div> 
        <scrolligy-step events="events" 
                        template-url="step[currentStep-1].templateUrl"
                        step-data="steps[currentStep-1].data">
        </scrolligy-step>
    </div>

    <div class="step current-step">
        <div class="fade"></div>
        <scrolligy-step events="events"
                        template-url="step[currentStep].templateUrl"
                        step-data="steps[currentStep].data">
        </scrolligy-step>
    </div>

    <div ng-if="currentStep > steps.legnth-1" class="step next-step fade-step">
        <div class="fade"></div>
        <scrolligy-step events="events"
                        template-url="step[currentStep+1].templateUrl"
                        step-data="steps[currentStep+1].data">
        </scrolligy-step>
    </div>
</div>